* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    font-family: "Roboto", sans-serif;
}

.page {
    display: flex; 
    height: 100vh; 
    overflow: hidden;
}

.left {
    flex: 0 0 25%; 
    background-color: #eee; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.createTrap{
    margin: 10px;
    width: 95%;
    height: 50%;
    background-color: #ccd;
}

.dataInputBox{
    padding: 10px;
    margin: 10px;
    width: 95%;
    height: 55%;
    background-color: #ccd;
}

.dataInputFieldsBox{
    width: 100%;
    height: 90%;
    background-color: #ccd;
}

.fields{
    padding: 6px;
    display: flex;
}

.fieldsText{
    width: 45%;
}

.colorChoose{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.right {
    flex: 1; 
    background-color: #ccc; 
}

#buttonCreate{
    margin-left: 6px;
    height: 30px;
}

#buttonGridSize{
    margin-left: 6px;
    height: 30px;
}

#buttonClear{
    margin-left: 6px;
    height: 30px;
}

#canv{
    position: relative; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    border: 3px solid rgb(102, 139, 134)
}

#checkUseColor{
    margin-left: 10px;
}
#checkMedians{
    margin-left: 10px;
}
#colorPicker{
    width:48%;
    margin-left: 14%;
}