body{
    overflow-x: hidden;
}

.side{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* background: rgb(197, 197, 197); */
    background: linear-gradient(120deg, white, rgb(196, 138, 235));
    border-right: 1px blue solid;
    padding:15px;
}

.hr{
    width: 95%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: black;
}

.cnv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.controls{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls > div{
    margin: 10px;
}

#load{
    width: 200px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#save{
    width: 200px;
}

#hsv{
    width: 200px;
    margin-bottom: 10px;
}

#cmyk{
    width: 200px;
}