body{
    overflow-x: hidden;
}

.side{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* background: rgb(197, 197, 197); */
    background: linear-gradient(120deg, white, rgb(108, 199, 183));
    border-right: 1px rgb(118, 118, 124) solid;
    padding:15px;
}

.hr{
    width: 95%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: black;
}

.cnv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-group-prepend > span{
    width: 100px;
}

#canv{
    border: 1px rgb(118, 118, 124) solid;
}