body{

}

.side{
    background-color: rgb(193, 193, 193);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 5px rgb(146, 146, 146) solid;
    height: auto;
}

.cnv{
    flex: 1;
    margin: 5px;
    overflow-x: scroll;
}

.hr{
    width: 100%;
    height: 2px;
    background-color: rgb(146, 146, 146);
}

.vr{
    width: 100%;
    height: 5px;
    background-color: rgb(146, 146, 146);
}

.btn{
    margin-bottom: 10px;
}

.input-group{
    width: 90%;
}

.input-group-text{
    width: auto;
}