body::-webkit-scrollbar {
    width: 0; 
    height: 0;
}

select{
    width: 70%;
}

p{

}

.side{
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(193, 193, 193);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 5px rgb(146, 146, 146) solid;
    height: 100%;
    overflow-y: scroll;
    
    background: linear-gradient(to right bottom,pink,rgb(0, 145, 255));
}



.side::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.cnv{
    flex: 1;
    margin: 5px;
    overflow-x: scroll;
    overflow-y: auto; 
    border: 1px black solid;
}

#canv{
    overflow-x: scroll;
}

.hr{
    margin-top: 10px;
    width: 100%;
    height: 2px;
    background-color: rgb(146, 146, 146);
}

.vr{
    width: 100%;
    height: 5px;
    background-color: rgb(146, 146, 146);
}

.btn{
    margin-bottom: 10px;
}

.input-group{
    width: 90%;
}

.input-group-text{
    width: auto;
}

